h1{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: lightblue;
}

.innerDiv{
    text-align: center;
}

#detail{
    margin-left:40%;
}

.final{
    background-color: lightblue;
    font-weight: bolder;
    text-align: center;
}

.final p{
    padding-top: 5px;
    padding-bottom: 5px;
}